html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

audio {
  display: none !important;
}

.btn-xl {
  padding: var(--button-size);
  font-size: var(--button-size);
  border-radius: calc(var(--button-size) / 4);
  overflow: hidden;
  white-space: nowrap;
  min-width: var(--button-width-min);
  max-width: var(--button-width-max);
}

.button-rules, .button-rules:active, .button-rules:hover, .button-rules:focus {
  color: #fff;
  border-color: rgba(255, 255, 255, 0.75) !important;
  background-color: var(--bg-color) !important;
  background-image: var(--bg-image) !important;
  background-size: cover;
  background-position: center center;
  box-shadow: inset 0 -1rem 1rem -0.75rem #000;
}

.button-rules img {
  width: auto;
  height: var(--button-size);
  line-height: 150%;
  vertical-align: text-top;
}
